<%= form_with( model:[@topic, @topic.ideas.build] , local: true, class: 'ui form') do |form| %>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, placeholder: 'Idea description'%>
  </div>
  <%= form.submit class: 'ui positive button'%>
<% end %>